@media (max-width: 960px) {
.container{
  width: 700px;
  margin-left: 200px;
}
  .container {
  width: 700px;
  margin-left: 200px;
}
}
@media (max-width: 720px) {
.container {
  width: 500px;
}
}

@media (max-width: 540px) {
.container {
  width: 300px;
}
}
